{% extends 'app/base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user|capfirst}}</span></h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary">Orders</a></li>
            </ul>
        </div>

        <div class="col-sm-9 offset-sm-1">
            {% for o in op %}
            <div class="row shadow-sm mb-3">
                <div class="col-sm-2">
                    <img src="{{o.product.product_image.url}}" alt="" class="img-fluid" height="150" width="150">
                </div>
                <div class="col-sm-7">
                    <input type="hidden" name="user" id="user" class="user" value="{{request.user.id}}">
                    <p>Product: {{o.product.title}}</p>
                    <p>Quantity: {{o.quantity}}</p>
                    <p>Price: {{o.total_cost}}</p>
                </div>
                <div class="col-sm-3 fw-bold">
                    <input type="hidden" name="oid" class="oid{{forloop.counter0}}" value="{{o.id}}">
                    <span>Status:</span>
                    <span class="status{{forloop.counter}}"></span>
                    <div class="progress">
                        <div style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                            role="progressbar" class="progress-bar bar{{forloop.counter}}">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock main-content %}
{% block script %}

<script>
    let c = `{{count}}`
    function increaseProgress(data) {

        if (Array.isArray(data)) {
            data.forEach(function (e, index) {
                let oid = $(`.oid${index}`).val()
                if (oid == e.oid) {
                    var progressHtml = document.querySelector(`.bar${index + 1}`)
                    var statusHtml = document.querySelector(`.status${index + 1}`)
                    statusHtml.innerHTML = e.status
                    progressHtml.style.width = e.prog + '%'

                    if (e.prog == 50) {
                        progressHtml.classList.add('bg-info')
                    }
                    else if (e.prog == 75) {
                        progressHtml.classList.add('bg-warning')
                    }
                    else if (e.prog == 100) {
                        progressHtml.classList.add('bg-success')
                    }
                }
            });
        } else {
            for (let i = 0; i < c; i++) {
                let oid = $(`.oid${i}`).val()
                if (oid == data.oid) {
                    var progressHtml = document.querySelector(`.bar${i + 1}`)
                    var statusHtml = document.querySelector(`.status${i + 1}`)
                    statusHtml.innerHTML = data.status
                    progressHtml.style.width = data.prog + '%'
                    if (data.prog == 25) {
                        progressHtml.classList.remove('bg-warning', 'bg-success', 'bg-info')
                    }
                    if (data.prog == 50) {
                        progressHtml.classList.remove('bg-warning', 'bg-success')
                        progressHtml.classList.add('bg-info')

                    }
                    else if (data.prog == 75) {

                        progressHtml.classList.remove('bg-info', 'bg-success')
                        progressHtml.classList.add('bg-warning')
                    }
                    else if (data.prog == 100) {
                        progressHtml.classList.remove('bg-warning', 'bg-info')
                        progressHtml.classList.add('bg-success')
                    }
                }
            }
        }
    }
    let user = $('#user').val()

    let socket = new WebSocket('ws://' + window.location.host + '/ws/order/' + user)
    socket.onopen = function (e) {
        console.log('connected')
    }
    socket.onclose = function (e) {
        console.log('hello close')
    }
    socket.onmessage = function (e) {
        var data = JSON.parse(e.data)
        increaseProgress(data.payload);
    }
</script>
{% endblock script %}